@media (min-width: 441px) and (max-width: 739px) {
  .c-12 {
    flex: 0 0 90%;
    max-width: 90%;
  }

  .row {
    justify-content: center;
  }
}
@media (max-width: 440px) {
  .row {
    justify-content: center;
  }

  .c-12 {
    flex: 0 0 92%;
    max-width: 92%;
  }

  .modal__body img {
    height: 45%;
    width: 85%;
  }
  .modal__body .fas.fa-arrow-right,
.modal__body .fas.fa-arrow-left {
    display: none;
  }
  .modal__body .icon__zoom {
    right: 12%;
  }
  .modal__body h2 {
    bottom: 20%;
    top: revert;
    font-size: 1.5rem;
  }
}
@media (max-width: 440px) and (max-width: 1023px) {
  .modal__body h2 {
    top: revert;
    bottom: 20%;
  }
}
@media (min-width: 1024px) and (max-width: 1239px) {
  .header__btn {
    display: none;
  }
}
@media (max-width: 1023px) {
  .header {
    background-color: transparent;
    position: absolute;
  }
  .header__btn {
    display: none;
  }
  .header__navbar-menu {
    display: none;
  }
  .header__menubar {
    display: none;
  }
  .header__rightSidebar {
    display: block;
  }
}

@media (max-width: 739px) {
  .container__shopMain {
    padding-bottom: 5px;
  }
  .container__listShop .row {
    margin-left: -2.5px;
    margin-right: -2.5px;
  }
  .container__listShop .col {
    padding-left: 2.5px;
    padding-right: 2.5px;
  }
  .container__nav {
    padding: 0 16px;
  }
}
@media (min-width: 600px) and (max-width: 739px) {
  .container__nav section {
    padding: 0 20px;
  }
  .container__nav section .content__review .content__person--img {
    width: 300px;
    height: auto;
  }
  .container__list--product {
    padding: 0 25px;
  }
  .container__list--product h2 {
    padding: 0 2px;
  }
  .container__list--product .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
  }
  .container__list--product .col {
    padding-left: 8px;
    padding-right: 8px;
  }
  .container__list--product .t-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 599px) {
  .container__nav section {
    padding: 0 10px;
  }
  .container__nav section .content__review .content__person--nd {
    padding-top: 0px;
    margin-left: -45px;
  }
  .container__nav section .content__review .content__person--time {
    align-items: flex-start;
    flex-direction: column;
  }
  .container__nav section .content__review .content__person--time ul {
    padding-top: 3px;
  }
  .container__nav section .content__review .content__person--img {
    width: 180px;
    margin-right: 10px;
  }
  .container__nav section .content__review .content__addReview input[type=email] {
    width: 100%;
  }
  .container__nav nav {
    flex-direction: column;
  }
  .container__nav nav label {
    padding: 20px 10px;
    text-align: left;
  }
  .container__people {
    display: block;
  }
  .container__people label {
    margin-left: -8px;
  }
  .container__people select {
    display: flex;
    width: 100%;
    margin: 10px 0px;
  }
  .container__people input {
    display: none;
  }
}
@media (min-width: 400px) and (max-width: 599px) {
  .container__priceFor span::before {
    left: -5%;
  }
  .container__list--product .heading {
    padding-left: 25px;
  }
}
@media (max-width: 400px) {
  .container__price {
    font-size: 2rem;
    margin-top: 5px;
  }
  .container__title h3 {
    margin-bottom: 10px;
  }
  .container__priceFor span::before {
    left: -6%;
  }
  .container__nav section {
    padding: 0 0 0 10px;
  }
  .container__nav section .content__description p {
    letter-spacing: 0px;
  }
  .container__list--product .heading {
    padding-left: 20px;
  }
}

@media (min-width: 1024px) and (max-width: 1239px) {
  .footer__img-paralax {
    height: 700px;
  }
}
@media (max-width: 1023px) {
  .footer__heading-content {
    padding: 80px 30px;
  }
  .footer__heading-content-describle {
    margin-left: 0;
    padding-bottom: 40px;
  }
  .footer__heading-content-search {
    width: 100%;
  }
  .footer__background > .row {
    justify-content: flex-start;
  }
  .footer .col.l-6 {
    width: 100%;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .footer__heading-content-search input {
    width: 100%;
  }
  .footer__heading-content-search button {
    padding: 14px 70px;
  }
  .footer__background {
    margin-top: 70px;
  }
  .footer__background-component-describle p {
    font-size: 1.5rem;
    padding: 0 10px 25px 0;
  }
  .footer__img-paralax {
    height: 1300px;
  }
}
@media (max-width: 739px) {
  .footer__img-paralax {
    height: 1400px;
  }
  .footer__heading-content-search {
    display: block;
  }
  .footer__heading-content-search button {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }
  .footer__heading-content-search input {
    width: 100%;
  }
  .footer__background {
    margin-top: 100px;
    margin-left: 33px;
    width: 90%;
    padding: 45px 0px 50px 45px;
  }
  .footer__background-component-describle {
    font-size: 1.5rem;
    padding: 0 10px 25px 0;
  }
  .footer__background .col.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footer__address {
    margin-left: 33px;
    width: 90%;
  }
  .footer__address-text {
    display: block;
    text-align: center;
    height: auto;
    padding: 0;
  }
  .footer__address-text div {
    padding: 10px 0;
  }
}
@media (max-width: 440px) {
  .footer .row {
    justify-content: center;
  }
  .footer .header .row {
    justify-content: flex-start;
  }
  .footer .c-12 {
    flex: 0 0 90%;
    max-width: 90%;
  }
  .footer__background {
    width: 83%;
  }
  .footer__img-paralax {
    height: 1550px;
  }
}
@media (max-width: 570px) {
  .footer__background {
    width: 85%;
  }
  .footer__address {
    width: 85%;
  }
}
@media (max-width: 330px) {
  .footer__background {
    width: 80%;
  }
  .footer__address {
    width: 80%;
  }
}

/*# sourceMappingURL=responsive.css.map */
